.jumbotron {
    background-color: #yellow;
    color:black;
    margin-top: 50px
}

.btn {
    background-color: pink;
}

.footer{
    padding: 10px 10px 0 10px;
    background-color:#14B76E;
    margin-botton: 0px;
    margin-top: 10px;
}

.card-anime {
	flex: 1 80px;
	padding: 2px 2px 2px 2px 2px;
	margin-top: 8px;
}

.btn-ver{
	width: 90%;
}
.footer-addres-icon {
	padding-right: 15px
}

.img{
  width: 95%;
  height: auto;
}
