$yellow: #fffa19;

@mixin margener($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
    background-color: #yellow;
    color:black;
    @incluide margenes(50px, 0px);
}

.btn {
    background-color: pink;
}

.footer{
    padding: 10px 10px 0 10px;
    background-color:#14B76E;
   @incluide margenes(10px, 0px);
}

.card-anime {
	flex: 1 80px;
	padding: 2px 2px 2px 2px 2px;
	@incluide margenes(10px, 0px);
}

.btn-ver{
	width: 90%;
}
.footer-addres-icon {
	padding-right: 15px
}

.img{
  width: 95%;
  height: auto;
}
